{% extends 'base.html.twig' %}

{% block title %}Ajouter un Ingrédient{% endblock %}

{% block body %}
    <h1>Ajouter un Ingrédient</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary">Ajouter</button>
    {{ form_end(form) }}

    <a href="{{ path('ingredient_list') }}" class="btn btn-secondary mt-3">Retour à la liste</a>
{% endblock %}
