{% extends 'base.html.twig' %}
{% block title %}Créer un produit{% endblock %}

{% block body %}
    <h1>Créer un produit</h1>



    <a href="{{ path('product_list') }}">Retour à la liste des produits</a>
{% endblock %}