{# templates/panel/index.html.twig #} {% extends 'base.html.twig' %} {% block body %}
  <div class="container">
    <div class="container-page">
      <h1>Produits</h1>
      <button class="button-common button-green">Ajouter</button>
    </div>
    <div class="table-wrapper">
      <table class="fl-table">
      <thead>
        <tr>
          <th>
            Nom
          </th>
          <th>
          Prix
          </th>
          <th>
          </th>
        </tr>
      </thead>
      <tbody>
      {% for product in products %}
        <tr>
            <td>
              {{product.name}}
            </td>
            <td>
            {{product.price}}
            </td>
            <td style="text-align:right">
              <button class="button-common button-blue">Modifier</button>
              <button class="button-common button-danger">Supprimer</button>
            </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    </div>
    <a href="/" class="button-common button-primary">Retour</a>
  </div>
{% endblock %}
