{% extends 'base.html.twig' %}

{% block title %}Créer un produit depuis des ingrédients{% endblock %}

{% block body %}
    <h1>Créer un produit depuis des ingrédients</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit">Créer</button>
    {{ form_end(form) }}

    <a href="{{ path('product_index') }}">Retour à la liste des produits</a>
{% endblock %}
